.navbar {
  margin: 10px auto;
  width: 90vw;
  max-width: 1100px;
  display: flex;
  align-items: center;
  justify-content: space-between; }
  .navbar .logo {
    font-family: monospace, 'Monaco', Consolas, "Lucida Console";
    height: 55px;
    width: 55px;
    user-select: none;
    cursor: default; }
    .navbar .logo .logo-header {
      height: 10px;
      border-radius: 5px 5px 0 0;
      background-color: #e4e3e5;
      display: flex;
      justify-content: flex-start;
      align-items: center; }
      .navbar .logo .logo-header .logo-header__button {
        width: 3px;
        height: 3px;
        border-radius: 50%;
        margin-left: 3px; }
      .navbar .logo .logo-header .button-red {
        background-color: #f96256;
        border: solid 1px #f65549; }
      .navbar .logo .logo-header .button-yellow {
        background-color: #fdbc3d;
        border: solid 1px #ffb524; }
      .navbar .logo .logo-header .button-green {
        background-color: #33c948;
        border: solid 1px #2dbb41; }
    .navbar .logo .logo-window {
      height: 40px;
      background-color: #4c647c;
      border-radius: 0 0 5px 5px;
      display: flex;
      justify-content: flex-start;
      align-items: center; }
      .navbar .logo .logo-window span {
        margin-top: -1px; }
      .navbar .logo .logo-window .logo-window__prefix {
        margin-left: 4px;
        margin-right: 2px;
        font-size: 23px;
        color: #fff; }
      .navbar .logo .logo-window .logo-window__initials {
        font-size: 26px;
        color: #FFFFA6; }
  .navbar .links .link {
    margin-right: 50px;
    text-decoration: none;
    color: #fff;
    font-size: 22px;
    letter-spacing: 1px;
    font-weight: bold;
    position: relative;
    transition: all 0.4s ease;
    text-shadow: 1px 1px 7px rgba(40, 40, 40, 0.4); }
    @media screen and (max-width: 500px) {
      .navbar .links .link {
        font-size: 18px;
        margin-right: 30px; } }
    .navbar .links .link:after {
      display: block;
      position: absolute;
      left: 0;
      bottom: -13px;
      width: 0;
      height: 5px;
      background-color: #88F9D4;
      transition: width 0.4s;
      content: ""; }
    .navbar .links .link:hover {
      color: #88F9D4;
      cursor: pointer; }
      .navbar .links .link:hover:after {
        width: 100%; }
