html {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  color: #3a3a3a;
  font-family: 'Lato', sans-serif;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  font-feature-settings: "pnum";
  font-variant-numeric: proportional-nums;
  background-color: #eee; }
  html ::selection {
    background: #cecece; }
  html ::-moz-selection {
    background: #cecece; }

.diagonal-background {
  position: absolute;
  top: 0;
  width: 100%;
  height: 660px;
  transform: skewY(-8deg);
  transform-origin: 0;
  background: -webkit-linear-gradient(to left, #126872, #88F9D4);
  background: linear-gradient(to left, #74a0e0, #7698c9);
  z-index: -999; }
  @media (max-width: 760px) {
    .diagonal-background {
      height: 500px;
      transition: all 0.3s ease; } }

.section-header {
  margin: 80px auto 80px auto;
  text-align: center;
  font-size: 30px; }
  .section-header span {
    color: #88F9D4; }

.header__intro {
  font-weight: lighter;
  width: 85vw;
  font-size: 3vw;
  max-width: 950px;
  margin: 70px auto 70px auto;
  text-align: center;
  color: #fff;
  text-shadow: 1px 1px 7px rgba(40, 40, 40, 0.4); }
  .header__intro p span {
    color: #88F9D4; }
  .header__intro p a {
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: #4c647c;
    color: #4c647c;
    text-decoration: none; }
    .header__intro p a:hover {
      color: #809ebc;
      transition: all 0.3s ease;
      -webkit-text-stroke-color: #809ebc; }
  @media screen and (max-width: 950px) {
    .header__intro {
      font-size: 29px;
      margin-bottom: 40px;
      transition: all 0.3s ease; } }
  @media screen and (min-width: 1150px) {
    .header__intro {
      font-size: 36px;
      transition: all 0.3s ease; } }
